body {
    background-image: url(https://clairehvarley.files.wordpress.com/2017/04/rick_and_morty_background_no_6_by_jurokoo-dahrw5w1-e1491523304914.png?w=1200);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#logo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Hanalei Fill', cursive;
    color: white;
}
#logo-subtext {
    margin-left: 35%;
}
.container {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 10em;
    color: white;
}
#start-game {
    margin-left: 41%;
}
#time-remaining {
    font-weight: bold;
    margin-bottom: 5em;
}
#choice-0 {
    margin-left: 0;
}
.choice {
    margin-left: 1em;
}
#time-remaining {
    visibility: hide;
    margin-left: 45%;
}
#questions {
    visibility: hide;
    margin-left: 23%;
}
#question {
    font-weight: bold;
}
#results {
    visibility: hide;
    margin-left: 30%;
} 
#reset {
    margin-bottom: 2em;
    margin-left: 30%;
}
label {
    margin-left: .5em;
    margin-right: 1em;
}